@import './base.css';

#app {
  margin: 0 auto;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsl(187, 100%, 37%);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(186, 76%, 51%, 0.3);
  }
}

@media (min-width: 1475px) {
  body {
    display: flex;
    place-items: center;
  }
  #app {
    padding: 50px;
  }
}

main {
  min-height: 512px;
  padding-top: 50px;
}
