@import './base.css';

#app {
  margin: 0 auto;
  font-weight: normal;
  caret-color: transparent;
}

a,
.green {
  text-decoration: none;
  color: hsl(187, 100%, 37%);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(186, 76%, 51%, 0.3);
  }
}

@media (min-width: 1475px) {
  body {
    display: flex;
    place-items: center;
  }
  #app {
    padding: 50px;
  }
}

main {
  min-height: 512px;
  padding-top: 50px;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

#tsparticles {
  z-index: 99;
}
